<div>
  <div class="container mx-auto px-4">
    <h3 class="text-2xl font-medium text-center mb-8">Conheça mais resorts</h3>

    <div class="grid grid-cols-4 grid-rows-2 gap-6">

      <div class=" relative col-span-2 row-span-2">
        <div class="absolute text-white font-bold bottom-0 pb-4 px-4 z-20">Beach Park Resort</div>
        <%= image_tag 'image-shadow.png', class: "absolute bottom-0 rounded-lg overflow-hidden h-20 z-10" %>
        <%= image_tag 'hotel-1.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %>
      </div>

      <div class=" relative col-span-2 h-60">
        <div class="absolute text-white font-bold bottom-0 pb-4 px-4 z-20">Salinas do Maragogi Resort</div>
        <%= image_tag 'image-shadow.png', class: "absolute bottom-0 rounded-lg overflow-hidden h-20 z-10" %>
        <%= image_tag 'hotel-2.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %>
      </div>

      <div class="relative">
        <div class="absolute text-white font-bold bottom-0 pb-4 px-4 z-20">Grand Palladium</div>
        <%= image_tag 'image-shadow.png', class: "absolute bottom-0 rounded-lg overflow-hidden h-20 z-10" %>
        <%= image_tag 'hotel-3.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %>
      </div>

      <div class="relative">
        <div class="absolute text-white font-bold bottom-0 pb-4 px-4 z-20">Arrial d'Ajuda Eco Resort</div>
        <%= image_tag 'image-shadow.png', class: "absolute bottom-0 rounded-lg overflow-hidden h-20 z-10" %>
        <%= image_tag 'hotel-4.jpeg', class: "w-full h-full object-cover rounded-lg overflow-hidden" %>
      </div>
    </div>
  </div>
</div>
